<h1>Make your form here</h1>

<form action="/pirates" method="post">
  <!-- <label for=""></label> -->
  Pirate Name: <input type="text" name="pirate[name]"><br>
  Pirate Height: <input type="text" name="pirate[height]"><br>
  Pirate Weight: <input type="text" name="pirate[weight]"><br>
  Ship1 Name: <input type="text" name="pirate[ships][][name]"><br>
  Ship1 Type: <input type="text" name="pirate[ships][][type]"><br>
  Ship1 Booty: <input type="text" name="pirate[ships][][booty]"><br>
  Ship2 Name: <input type="text" name="pirate[ships][][name]"><br>
  Ship2 Type: <input type="text" name="pirate[ships][][type]"><br>
  Ship2 Booty: <input type="text" name="pirate[ships][][booty]"><br>
  <input type="submit" value="Submit">
</form>
